@import "tailwindcss";

img {
  vertical-align: initial;
}

.continuous-slider .swiper-wrapper {
  transition-timing-function: linear;
}

.news-slider .swiper-slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
